h1, .h1 {
    font: bold bold bold 64px/72px 'Din-regular';
}
h2, .h2 {
    font: bold bold bold 48px/56px 'Din-regular';
}
h3, .h3 {
    font: bold bold bold 32px/40px 'Din-regular';
}
.heading4 {
    font: normal normal bold 24px/32px 'Din-regular';
}
.para-big {
    font: normal normal normal 22px/32px 'Din-regular';
}
.para-small {
    font: normal normal normal 16px/22px 'Din-regular';
}
.call-to-action {
    font: normal normal normal 18px 'Din-regular';
}
.uil {
    font-size: 22px;
}